	<div class="button-bar span2">
		<div class="button-set">
			<button class="op_flat_50 act-nav" id="emlWriteButtonBack">Back</button>
		</div>
		<div class="button-set secondary">
			<button class="op_flat_50 email-save act-data">Save</button>
			<button class="op_flat_50 email-attach act-inter">Attach</button>
			<button id="emlWriteButtonSend" class="op_flat_50 email-send act-inter">Send</button>
		</div>
	</div>
	<div class="span14 right">
		<div class="emlFullHeader">
			<input id="emlWriteTextTo" type="text" placeholder="To">
			<input id="emlWriteTextSubject" type="text" placeholder="Subject">
			<textarea id="emlWriteTABody" class="emlBody"></textarea>
		</div>
	</div>