	<div class="button-bar span2">
		<div class="button-set">
			<button class="op_flat_50 act-nav" id="emlButtonBack">Back</button>
		</div>
		<!-- <div class="button-set right">
			<button class="op_flat_50 email-reply act-inter" id="emlButtonReply"><p>Reply</p></button><button class="op_flat_50 email-replyall act-inter"><p>Reply All</p></button><button class="op_flat_50 email-forward act-inter"><p>Foward</p></button>
		</div> -->
		<div class="button-set secondary">
			<button class="op_flat_50 email-junk act-data">Junk</button>
			<button id="emlButtonDelete" class="op_flat_50 email-delete act-data">Delete</button>
			<button id="emlButtonRespond" class="op_flat_50 email-respond act-inter">Respond</button>
		</div>
		<div id="emlRespondOptions" class="unseen button-set right">
			<button class="op_flat_50 email-forward act-inter">Forward</button>
			<button class="op_flat_50 email-reply act-inter">Reply</button>
			<button class="op_flat_50 email-replyall act-inter">Reply All</button>
		</div>
	</div>
	<iframe src="[[src]]" id="emlFullFrame" class="span14 right" style="height: 400px"></iframe>
	<!-- <div class="emlBody">[[body]] -->