.container {
	/* font-size: 1em;
	padding: 0 0.4em; */
}
.navbar {
    padding: 0.4em 1em;
    font-weight: bold;
}
.navbar a {
    text-decoration: none;
}
#emlNav {
	display: none;
}

.emlFullHeader {
    padding: 0 1em;
    position: relative;
}

.emlTeaser {
    white-space: nowrap;
    display: none;
    overflow: hidden;
}
.emlContactImg {
    background-color: #99AABB;
    height: 4.8em;
    left: 1em;
    position: absolute;
    top: 0.7em;
    width: 4.8em;
}
.emlDate {
    font-size: 0.8em;
    color: #999;
}
li .emlDate {
    position: absolute;
    right: 0.4em;
    top: 0.4em;
}


.emlBody {
    padding: 1em 0.666666em; /* we want 10px left/right padding, which is dependent upon the font-size */
    font-size: 1.5em;
}
textarea.emlBody {
    width: 100%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #CCC;
    padding: 0;
}


.op_flat_50 {
    margin-top: 0.8em !important;
    margin-bottom: 0.8em !important;
    width: 7em !important;
    height: 7em !important;
    background-image: none; /* this is to keep FF mobile from placing a gradient */
}


input, textarea {
    border: 0;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    margin-bottom: 0.4em;
    background-image: none;
}
input:focus, textarea:focus {
    border-bottom: 1px solid #66F;
}
input#emlWriteTextTo::-moz-placeholder { color: red; }
input#emlWriteTextTo:-ms-input-placeholder { color: red; }
input#emlWriteTextTo::-webkit-input-placeholder { color: red; }
