ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#emlInboxList li {
    padding-top: 1.3em;
    margin-bottom: 0.4em;
    /*border-top: 1px solid #EEE;*/
}

#emlInboxList .emlContactImg {
    width: 4em;
    height: 4em;
    background-color: rgb(198, 221, 255);
    margin-top: -1.1em;
}
#emlInboxList .emlSubject {
    /* font-weight: bold; */
}
#emlInboxList .emlFrom {
    color: #999;
    font-size: 0.9em;
    position: absolute;
    left: 0;
    top: -1.2em;
}
#emlInboxList .emlTeaser {
    color: #666;
    line-height: 1em;
    display: block;
}
#emlInboxList .emlDate {
    position: absolute;
    right: 0;
    top: 0.3em;
}

#emlInboxList p {
    margin-bottom: 0;
}

/*#emlFull {
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
}
#emlFull.showable.show { */
    /* left: 0; */
    /*
    -moz-transform:translate(-100%);
    -webkit-transform:translate(-100%);
    -o-transform:translate(-100%);
    transform:translate(-100%);
} */


/* .emlFullHeader {
    background-color: #333;
    margin-bottom: 1em;
    padding: 0.4em;
}
.emlFullHeader h3 {
    margin-bottom: 0.4em;
    overflow: hidden;
    white-space: nowrap;
}
.emlFullHeader h4 {
    margin: 0;
} */


#emlWriteTextTo, #emlWriteTextSubject, #emlWriteTABody {
    width: 80%;
    display: block;
}
#emlWriteTABody {
    min-height: 200px;
}


/* email button icons */
button.email-reply {
    background-image: url(/static/svg/email_reply.svg) !important;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0) !important;
}


/* style the email image boxes when selected */
#emlInboxList:not(#foo) > input[type=checkbox] + label {
}
#emlInboxList input[type=checkbox]:checked + label {
    /* border: 1px solid red; */
    box-shadow: 0 0 3px 1px #2554C0;
}
