@import url(./mail400.css) screen and (max-width: 400px);
@import url(./mail768.css) screen and (min-width: 401px) and (max-width: 768px);
@import url(./mail769up.css) screen and (min-width: 769px);

/* button colors based on action */
.act-data {
    background-color: #2980B9;
}
.act-inter {
    background-color: #D35400;
}
.act-nav {
    background-color: #F38C12;
}

