{% extends "omnipi/index_framed.html" %}

{% block site %}WebMail{% endblock %}

{% block head_css %}
	<link href="{{ STATIC_URL }}mail/styles/mail.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block op_fluid_content %}fluid{% endblock %}

{% block maincontent %}

			{% comment %}<div class="row-fluid">{% endcomment %}

				<div id="emlInbox" class="op_wrapcontent right unseen" style="position: relative;">

					<div class="button-bar span2">
						<div class="button-set">
							<button id="emlButtonRefresh" class="op_flat_50 email-refresh act-data">Refresh</button>
						</div>
						<div class="button-set secondary">
							<button id="emlButtonCompose" class="op_flat_50 email-compose act-inter">Compose</button>
						</div>
					</div>

					<div class="span14 right">
						<!-- list view -->
						<ul class="op-list-one pic" id="emlInboxList">
						{% for eml in data.mail %}
							<li id="eml{{ eml.mssg_id }}" class="">
								<input type="checkbox" id="emlCB{{ eml.mssg_id }}" value="emlCB{{ eml.mssg_id }}" style="display:none" />
								<label class="emlContactImg op-list-one-pic" for="emlCB{{ eml.mssg_id }}"></label>
								<div class="op-list-one-body z_emlInboxInfo">
									<h4 class="emlFrom">{{ eml.from_name }}</h4>
									<p class="emlSubject">{{ eml.subject }}</p>
									<span class="emlTeaser">{{ eml.body|slice:":100"}}</span>
									<span class="emlDate">{{ eml.email_date }}</span>
								</div>
							</li>
						{% endfor %}
						</ul>
					</div>
					
				</div> <!-- span9 - mail list -->

				<!-- holders for templated data -->
				<div id="emlFull" class="op_wrapcontent right unseen"></div>
				<div id="emlWrite" class="op_wrapcontent right unseen"></div>

			{% comment %}</div> <!-- row-fluid -->{% endcomment %}

{% endblock %}

{% block footer_js %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}omnipi/scripts/jquery/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}mail/scripts/mail.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}omnipi/scripts/template.js"></script>
{% endblock %}