<!doctype html>
<html>
<head>
	<link href="/static/omnipi/styles/omnipi.css" rel="stylesheet" type="text/css" />
	<link href="/static/mail/styles/mail.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="op_maincontent">
		<div class="emlFullHeader">
			<h3 class="emlSubject">{{subject}}</h3>
			<h4 class="emlFrom">{{from_name}}</h4>
			<h4 class="emlDate">{{email_date}}</h4>
		</div>
		<div class="emlBody">{% autoescape off %}{{body}}{% endautoescape %}</div>
	</div>
</body>